<h1>Ohi!</h1>
<p>
Try authorizing various accounts above, that's what this page is all about.
I pinky promise not to do anything bad (and you can see what you are authorizing before you do anyways).
</p>

<p>
You can also go see if the <%= link_to 'protected view', action: :protected %> works in the current state.
</p>

