<h1>Fancy seeing you here!!</h1>
<p>
Welcome to the <strong>protected view</strong>, the VIP of this tiny web app.
You can try signing out and seeing what happens, or you can just call it a day and go home.
After all, you've clearly accomplished something few before you have.
<i>You've logged into whatever this place is</i>.
</p>

<p>
You can also go back to the <%= link_to 'main view', root_url %> and see what's up.
</p>

